<!DOCTYPEhtml>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Page for editing listitems</title>
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
	<body>
	<div class="container">
		<h1>Edit listitem</h1>
			<p th:text="${toiminto}"></p>
			<div>
			<form th:object="${listitem}" th:action="@{/editlistitem}" action="#" method="post">
			<div class="form-group">
			<label for="id">Id</label>
			<input type="text" id="id" th:field="*{id}" class="form-control"/>
			</div>
			
			<div class="form-group">
			<label for="toDoListitem">Listitem</label>
			<input type="text" id="toDoListitem" th:field="*{toDoListitem}"  class="form-control"/>
			</div>
			
			<input type="submit" value="Save" class="btn btn-primary"></input>
		</form>
		</div>
		<a href="/listitems">Back to list</a>
	</div>
	</body>
</html>