<!DOCTYPEhtml>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
		
<head>
	<title>Listing of all items in the ToDoList</title>
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
	<body>
	<div class="container">
		<h1>ToDoList</h1>
	<div>
		<!--<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>-->
	</div>
		<table class="table table-striped">
			<tr>
				<th>Id</th>
				<th>Listitem</th>
				<th> </th>
				<th> </th>
				<th> </th>
				</th>
			</tr>
			<tr>
				<td><tr th:each="listitem : ${listitemlist}">
				<td th:text="${listitem.id}"></td>
				<td th:text="${listitem.toDoListitem}"></td>
				<td><a th:href="@{/editlistitem/{id}(id=${listitem.id})}" class="btn btn-primary">Edit</a></td>
				<td><a th:href="@{/delete/{id}(id=${listitem.id})}" class="btn btn-danger">Delete</a></td>
			</tr>
		</table>
		<div class="row">
			<div class="col-md-2">
				<a href="/addlistitem" class="btn btn-success btn-block">Add Listitem</a>
			</div>
			<div class="col-md-2">
				<form th:action="@{/logout}" method="post">
					<input type="submit" value="Sign Out" class="btn btn-danger btn-block"/>
				</form>
			</div>
		</div>
	</div>
	</body>
</html>