<!DOCTYPEhtml>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
		
<head>
	<title>Listing of all books in the database</title>
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
	<body>
	<div class="container">
		<h1>Book list</h1>
	<div>
		<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
	</div>
		<table class="table table-striped">
			<tr>
				<th>Title</th>
				<th>Author</th>
				<th>Year</th>
				<th>Price</th>
				<th>ISBN</th>
				<th>Category</th>
				<th sec:authorize="hasAuthority('ADMIN')"/>
			</tr>
			<tr>
				<td><tr th:each="phQuestion : ${phQuestionList}">
				<td th:text="${phQuestion.phQuestion}"></td>
				<td th:text="${book.author}"></td>
				<td th:text="${book.year}"></td>
				<td th:text="${book.price}"></td>
				<td th:text="${book.isbn}"></td>
				<td th:text="${book.category.name}"></td>
				<td><a th:href="@{/editbook/{isbn}(isbn=${book.isbn})}" class="btn btn-primary">Edit</a></td>
				<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{isbn}(isbn=${book.isbn})}" class="btn btn-danger">Delete</a></td>
			</tr>
		</table>
		<div class="row">
			<div class="col-md-2">
				<a href="/addbook" class="btn btn-success btn-block">Add book</a>
			</div>
			<div class="col-md-2">
				<form th:action="@{/logout}" method="post">
					<input type="submit" value="Sign Out" class="btn btn-danger btn-block"/>
				</form>
			</div>
		</div>
	</div>
	</body>
</html>